<html>
<head>
    <title>{{title}}</title>
    <link rel="icon" href="demo/develop.png">
</head>

<meta name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
<body>
    <h1  align=center>{{greet}}</h1>
    <h3  align=center>
        <a  href="https://github.com/normphp" target="_blank" aria-label="在GitHub上">
            <img src="demo/github.png"width="18"height="18"/>
            <span>normphp组织</span>
        </a>
        &nbsp;&nbsp;
        <a href="https://github.com/normphp/normphp" target="_blank" aria-label="在GitHub上">
            <img src="demo/github.png"width="18"height="18"/>
            <span>normphp框架</span>
        </a>
        &nbsp;&nbsp;
        <a href="https://github.com/normphp/normphp-helper/" target="_blank" aria-label="在GitHub上">
            <img src="demo/github.png"width="18"height="18"/>
            <span>windows脚手架</span>
        </a>
        &nbsp;&nbsp;
        <a href="https://github.com/normphp/dnmp/" target="_blank" >
            <img src="demo/github.png"width="18"height="18"/>
            <span>DNMP容器环境</span>
        </a>
        &nbsp;&nbsp;
        <a href="https://hub.docker.com/r/normphp/dnmp-php" target="_blank" >
            <img src="demo/docker.png"width="18"height="18"/>
            <span>容器镜像</span>
        </a>
        &nbsp;&nbsp;
        <a href="https://packagist.org/users/normphp/" target="_blank" aria-label="packagist">
            <img src="demo/packagist-min.png"width="18"height="18"/>
            <span>packagist</span>
        </a>
    </h3>
<!--    文档与官网-->
    <h3  align=center>
        <a  href="https://normphp.org" target="_blank" >
            <span  aria-hidden="true">normphp官网（敬请期待）</span>
        </a>
    </h3>
    <h3>当前项目文档</h3>
    <p>
       &nbsp;&nbsp;<a href="/document/index.html" target="_blank" ><img src="demo/develop.png"width="18"height="18"/><span  aria-hidden="true">API开发文档</span></a>
    </p>

    <h3>当前运行环境</h3>
    <p>&nbsp;&nbsp;<b>php:</b>&nbsp;<span  aria-hidden="true">{{PHP_VERSIONS}}</span>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>PHP :</b><a  href="/demo/phpinfo.html" target="_blank" ><span  aria-hidden="true">phpinfo</span></a>
    </p>
    <p>&nbsp;&nbsp;<b>os :</b>&nbsp;<span  aria-hidden="true">{{OS}}</span>
        &nbsp;&nbsp;<b>normphp :</b>&nbsp;<span  aria-hidden="true">{{NORMPHP_VERSIONS}}</span></p>
    <h3>normphp框架核心包</h3>
    <p>&nbsp;&nbsp;
        <a  href="https://github.com/normphp/staging" target="_blank" aria-label="在GitHub上">
            <img src="demo/github.png"width="18"height="18"/>
            <span>框架核心</span>
        </a>&nbsp;&nbsp;
        <a  href="https://github.com/normphp/config" target="_blank" aria-label="在GitHub上">
            <img src="demo/github.png"width="18"height="18"/>
            <span>框架通用配置驱动</span>
        </a>&nbsp;&nbsp;
        <a  href="https://github.com/normphp/helper" target="_blank" aria-label="在GitHub上">
            <img src="demo/github.png"width="18"height="18"/>
            <span>框架通用助手类库</span>
        </a>&nbsp;&nbsp;
        <a  href="https://github.com/normphp/container" target="_blank" aria-label="在GitHub上">
            <img src="demo/github.png"width="18"height="18"/>
            <span>容器基础接口类库</span>
        </a>&nbsp;&nbsp;
        <a  href="https://github.com/normphp/core-encryption" target="_blank" aria-label="在GitHub上">
            <img src="demo/github.png"width="18"height="18"/>
            <span>公共签名、加解密类库</span>
        </a>&nbsp;&nbsp;
    </p>
    <!--    知识库文档-->
    <h3>知识库</h3>
    <p>&nbsp;&nbsp;
        <a  href="https://docs.phpcomposer.com/00-intro.html" target="_blank" >
            <span class="gh-ico" aria-hidden="true">composer入门指南</span>
        </a>&nbsp;&nbsp;
        <a  href="http://pecl.php.net/" target="_blank" >
            <span class="gh-ico" aria-hidden="true">PHP扩展库</span>
        </a>&nbsp;&nbsp;
        <a  href="https://www.php.net/manual/zh/" target="_blank" >
            <span class="gh-ico" aria-hidden="true">PHP手册</span>
        </a>&nbsp;&nbsp;
        <a  href="https://www.docker.org.cn/" target="_blank" >
            <span class="gh-ico" aria-hidden="true">docker文档</span>
        </a>&nbsp;&nbsp;
        <a  href="https://hub.docker.com/r/normphp/dnmp-php" target="_blank" >
            <span class="gh-ico" aria-hidden="true">docker镜像</span>
        </a>&nbsp;&nbsp;
        <a  href="https://hub.docker.com/r/normphp/dnmp-php" target="_blank" >
            <span class="gh-ico" aria-hidden="true">docker镜像</span>
        </a>&nbsp;&nbsp;

    </p>
    <h3>资源下载</h3>
    <p>&nbsp;&nbsp;
        <a  href="https://www.netsarang.com/en/free-for-home-school/" target="_blank" >
            <span class="gh-ico" aria-hidden="true">官方免费Xftp和Xshell（只需要填邮箱就可收到一封带有下载地址的官方邮件）</span>
        </a>&nbsp;&nbsp;
        <a  href="https://pan.baidu.com/s/11kgapxuHL7wH5clqvbUkKg" target="_blank" >
            <span class="gh-ico" aria-hidden="true">PhpStorm[网盘密码: norm ]</span>
        </a>&nbsp;&nbsp;
    </p>
</body>
</html>

